.collectionSec{
    position:relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--background-color);
    width: 100vw;
}

.collectionSec_topbar{
    background-color: var(--section-background);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    width: 75%;
    border: var(--element-border);
    border-radius: 2rem;
}

.topBar_searchBar{
    padding: 0.5rem;
    width: 60%;
    display: flex;
    justify-content: center;
}

.topBar_searchBar label{
    text-decoration: none;
    display: inline-flex;
    justify-content: center;
    padding-right: 1rem;
    color: var(--element-text);
    font-size: 1.5rem;
    font-weight: bold;
}

.topBar_searchBar input{
    font-family: "Inter", sans-serif;
    font-size: 1.2rem;
    width: 10px;
    border: var(--element-border);
    border-radius: 0.5rem;
}

.topBar_searchBar input{
    border:none;
    width:80%;
    background-color: white;
}

.collectionSec_items{
    box-sizing: border-box;
    width: 100%;
    padding: 0 4rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 5rem;
}

.itemCard{
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: auto;
    height: 100%;
    border: 2px solid var(--bluey-gray);
    border-radius: 15px;
    background-color: var(--element-background);
    box-shadow: 5px 10px 8px var(--surface-shadow);
    transition: 0.3s;
}

.itemCard:hover{
    cursor: pointer;
    box-shadow:
            0 6px 12px var(--surface-shadow),
            0 0 10px 4px var(--surface-glow);
    translate: 0 -1rem;
    transition: 0.3s ease;
}

.itemCard .itemInfo{
    text-align: center;
    color: var(--title);
}

.itemCard .itemThumbnail{
    margin-top: 1rem;
    border-radius: 15px;
}

.itemInfo h1,h2,h3,h4,h5,h6, p{
    margin: 8px 0;
}

.outletPopUp{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}