.collectionSec{
    position:relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--background-color);
    width: 100vw;
}

.collectionSec_topbar{
    background-color: var(--section-background);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem;
    width: 75%;
    border: var(--element-border);
    border-radius: 2rem;
}

.topBar_searchBar{
    padding: 0.5rem;
    width: 60%;
    display: flex;
    justify-content: center;
}

.topBar_searchBar label{
    text-decoration: none;
    display: inline-flex;
    justify-content: center;
    padding-right: 1rem;
    color: var(--element-text);
    font-size: 1.5rem;
    font-weight: bold;
}

.topBar_searchBar input{
    font-family: "Inter", sans-serif;
    font-size: 1.2rem;
    width: 10px;
    border: var(--element-border);
    border-radius: 0.5rem;
}

.topBar_searchBar input{
    border:none;
    width:80%;
    background-color: white;
}

.collectionSec_wrapper{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 4rem;
    padding: 0 10vw;
    box-sizing: border-box;
}

.section_Wrapper{
    display: grid;
    grid-template-areas:
    "header header"
    "body body";
    grid-template-rows: 8rem auto;
    grid-template-columns: 1fr 1fr;
}

.sectionHeader{
    grid-area: header;
    text-align: center;
    height: 100%;
}

.section_Items{
    grid-area: body;
    display: grid;
    grid-template-columns: 50% 50%;
    box-sizing: border-box;
    grid-template-rows: repeat(auto-fill, 30vh);
    gap: 0.4rem;
    border-radius: 1rem;
}

.itemCard_wrapper{
    text-decoration: none;
}

.itemCard{
    display: flex;
    z-index: 0;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border: 2px solid var(--bluey-gray);
    border-radius: 15px;
    text-align: center;
    color: var(--strong-text);
    background-color: var(--element-background);
    box-shadow: 5px 10px 8px var(--surface-shadow);
    transition: 0.3s;
}

.cardInfo h1,h2,h3,h4,h5,h6, p{
    margin:0.5rem;
}

.itemCard:hover{
    cursor: pointer;
    z-index: 1;
    box-shadow:
            0 6px 12px var(--surface-shadow),
            0 0 10px 4px var(--surface-glow);
    translate: 0 -25%;
    transition: 0.4s ease;
}

.itemCard .cardInfo{
    text-align: center;
    color: var(--title);
}

.itemCard .cardThumbnail{
    font-size: 0.8rem;
    margin: 1rem 0;
    border-radius: 15px;
    width: 80%;
}


.outletPopUp{
    z-index: 5;
    position: fixed;
    left: 50%;
    transform: translate(-50%, -10%);
}