.collectionSec{
    position:relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--background-color);
    width: 100%;
    overflow: hidden;
}

.collectionSec_topbar{
    background-color: var(--section-background);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2rem;
    width: 75%;
    border: var(--element-border);
    border-radius: 1.5rem;
}

.topBar_searchBar{
    padding: 1rem;
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.topBar_searchBar label{
    text-decoration: none;
    display: inline-flex;
    justify-content: center;
    padding-right: 1rem;
    color: var(--element-text);
    font-size: 1.5rem;
    font-weight: bold;
}

#searchSymbol{
    display: flex;
    justify-self: flex-start;
    font-size: 1.2rem;
    font-weight: bold;
    margin-left: 2rem;
}

.inputWrapper{
    display: flex;
    border-radius: 0.5rem;
    border: var(--element-border);
    width: 75%;
    height: 3rem;
    overflow: hidden;
}

.topBar_searchBar #searchBar{
    background-color: var(--element-background);
    font-family: "Inter", sans-serif;
    font-size: 1.2rem;
    text-align: end;
    padding-right: 1rem;
    border: none;
    width:100%;
}

.topBar_searchBar #searchBar:focus{
    outline:4px solid var(--info-blue-border);
    outline-offset: -3px;

}

#searchBtn{
    margin: 0;
    padding: 0;
    width: 20%;
    border: none;
    background-color: var(--important-element);
    cursor: pointer;
    overflow: hidden;
}

#searchBtn label{
    width: 100%;
    height: 100%;
    padding: 0;
    align-items: center;
}

#searchIcon{
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 5px;
}

#searchIcon:hover{
    backdrop-filter: brightness(90%);
}

.collectionSec_wrapper{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    justify-content: center;
    gap: 6rem;
    padding: 0 20vw;
    box-sizing: border-box;
}

#searchResult{
    grid-template-columns: 1fr;
    padding: 0 30vw;
}

.section_Wrapper{
    width: 100%;
    height: fit-content;
    display: grid;
    grid-template-areas:
    "header header"
    "body body";
    grid-template-rows: 20vh auto;
    grid-template-columns: auto;
}

.sectionHeader{
    grid-area: header;
    align-content: start;
    text-align: center;
    height: 100%;
    margin: 0;
}

.sectionHeader h2{
    margin: 0;
}

.section_Items{
    width: 100%;
    grid-area: body;
    display: grid;
    height: fit-content;
    grid-template-columns: 50% 50%;
    grid-auto-rows: 35vh;
    border-radius: 1rem;
}

#clearSearch{
    position: unset;
    margin-top: 8px;
    width: fit-content;
    height: fit-content;
    padding: 0.5rem;
    color: #f8f8f8;
}

.itemCard_wrapper{
    text-decoration: none;
    width: 100%;
    height: fit-content;
    box-sizing: border-box;
    padding: 0 0.2rem;
    z-index: 0; /*ESSENTIAL*/
    transition: 0.3s; /*ESSENTIAL*/
}
/*due to accessibility reason, moved the translate to itemCard_Wrapper (a)*/
.itemCard_wrapper:hover, .itemCard_wrapper:focus{
    cursor: pointer;
    z-index: 1;
    box-shadow:
            0 6px 12px var(--surface-shadow),
            0 0 10px 4px var(--surface-glow);
    translate: 0 -25%;
    transition: 0.4s ease;
}

.itemCard{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%;
    align-items: center;
    box-sizing: border-box;
    border: 2px solid var(--bluey-gray);
    border-radius: 15px;
    text-align: center;
    color: var(--strong-text);
    background-color: var(--element-background);
    box-shadow: 5px 10px 8px var(--surface-shadow);
}


.loadingWrapper{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.cardInfo h1,h2,h3,h4,h5,h6, p{
    margin:0.5rem;
}

.itemCard .cardInfo{
    text-align: center;
    color: var(--title);
}

.itemCard .cardThumbnail{
    font-size: 0.8rem;
    margin: 1rem 0;
    border-radius: 15px;
    width: 80%;
}

.outletPopUp{
    z-index: 5;
    position: fixed;
    left: 50%;
    transform: translate(-50%, -10%);
}

@media only screen and (max-width: 650px ){
    /*collection list responsive*/
    .collectionSec_wrapper{
        grid-template-columns: 1fr;
    }
    .itemCard{
        height: 100%;
    }

    /*searchBar responsive*/
    .collectionSec_topbar{
        display: flex;
        flex-direction: column;
    }
    #searchSymbol{
        margin: 1rem 0;
    }
    .topBar_searchBar{
        justify-content: center;
    }
    .inputWrapper #searchBar{
        padding: 0 1rem 0 0;
        text-align: center;
    }
    .section_Wrapper{
        grid-template-rows: 24vh auto;
    }
}