:root {
  font-family: "Inter", sans-serif;
  line-height: 1.5;
  font-weight: 400;

  background-color: var(--background-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


h1, h2, h3, h4, h5, h6 {
  font-family: "Merriweather", serif;
}

body{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  margin: 0;
}

footer{
  background-color: var(--side-background);
  color: var(--text);
  height: clamp(15vh, 20vh, 35vh);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footerInfo{
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
}

.footerInfo *{
  width: fit-content;
  margin: 0 0 0.5rem 1rem;
}

.footerInfo a{
  text-decoration: none;
  color: var(--info-blue)
}
.footerInfo a:hover{
  color: var(--warning-orange);
}
.footerInfo a:active{
  color: var(--bluey-gray);
}

#copyrightMark{
  text-align: center;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
