.popUpCard{
    min-width: fit-content;
    min-height: fit-content;
    width: clamp(50px, 60vw, 80vw);
    height: clamp(50px, 40vw, 60vw);
    background-color: var(--element-background);
    border: var(--element-border);
    border-radius: 25px;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
}

